#team {
  background-color: white;
  color: white;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 10px;
  }
}

.team-content {
  padding: 20px;
  background-color: #D23333;
  color: white;
  height: 20vh;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.card-team {
  color: grey;
  font-size: 10px;
    img {
  width: 45%;
  }
}

